<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contactez-nous !</h5>

        <p>
          Par email :
          <a href="mailto:contact@archhive.com" class="text-white">contact@archhive.com</a><br>
          Via notre support :
          <a href="mailto:support@archhive.com" class="text-white">support@archhive.com</a><br>
          Par téléphone : 
          <a href="tel:0321212121" class="text-white">(+33) 03 21 21 21 21</a>
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Horaires d'ouverture :</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <p class="text-white">Lundi : fermé</p>
          </li>

          <li>
            <p class="text-white">Les Mardis & Vendredis : <br> 7h-11h / 13h-16h</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">-</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-white">Les Samedis & Dimanches : <br>8h-12h / 14h-17h</p>
            </li>

            <li>
              <p class="text-white">Pendant les vacances : <br> 9h-12h / 14h-17h</p>
            </li>
          </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright : 
    <a class="text-white" href="https://localhost:8000/">ArchHive.com</a>
  </div>
  <!-- Copyright -->

</footer>