{% extends "base.html.twig" %}

{% block title %}
    {%- if is_granted('ROLE_USER') -%}
        Consulter mes emprunts
    {%- else -%}
        ArchHive : emprunt de livre facile et rapide.
    {%- endif -%}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}      {# Permet de charger le script et la feuille de style déclarés dans le template parent qui est base.html.twig #}
    {{ encore_entry_link_tags('accueil') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_link_tags('accueil') }}
{% endblock %}

{% block body %} 
    {%- if is_granted('ROLE_USER') -%}

        <h3> Mes emprunts : </h3>
        <div class="pageemprunts">
            <ul>
                <li>Livre 1 </li>
                <li>Livre 2 </li>
                <li>Livre 3 </li>
            </ul>
        </div>
    {%- else -%}
        <div class="pageaccueil">
            <h1 class="brand"><span>ArchHive</span>
            <p class="slogan">L'emprunt de livres simple et rapide !</p>
        </div>
    {%- endif -%}
{% endblock %}