{% extends "base.html.twig" %}

{% block title %}
Liste des livres diponibles en ce moment.
{% endblock %}

{% block body %} 

<div class="pagelistelivres">
    <i class="fa-solid fa-check"></i>

    <h1>Aucun livre disponible pour l'instant</h1>
<div>

 {% endblock %}