{% extends 'base.html.twig' %}

{% block title %}Mes Paramètres{% endblock %}

{% block body %}

<h1> Mes paramètres</h1>
{# <div class="block mb-20">
    <h2 class="pb-30">Page de profil</h2>
    {{ form_start(PWform) }}
    {{ form_rest(PWform) }}
    <button class="btn btn-primary mr-10">Mettre à jour</button>
    {{ form_end(PWform )}}
</div> #}

{% endblock %}