{% extends 'base.html.twig' %}

{% block title %}Mes Paramètres{% endblock %}

{% block body %}

<div class="container">
    <h1> Modifier mes informations</h1>

    {{ form_start(settingsform) }}
        {{ form_rest(settingsform) }}
    <button class="btn btn-primary mr-10">Modifier</button>
    <a href="{{ path('profile') }}" class="btn btn-primary mr-10">Retour au profil</a>
    {{ form_end(settingsform) }}

<div>

{% endblock %}